<h1>Put up for Adoption!</h1>

<form action="/pets/new" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name"/>
    <br/>

    <label for="imgUrl">Enter imgURL:</label>
    <input type="text" name="imgUrl"/>
    <br/>

    <label for="type">Type:</label>
    <input type="text" name="type" placeholder="Cat, Dog, etc"/>
    <br/>

    <label for="description">Description:</label>
    <input type="text" name="description"/>
    <br/>

    <button type="submit">Post</button>
</form>